.css3dobject {
    top: 45px !important;
    cursor: move;
}

.fullwidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
.fullwidth .columns {
    padding-left: 0;
    padding-right: 0;
}
#featured .phoneContainer, #featured .sceneOverlay {
    background-color: #267c9c;
    height: 420px;
    width: 100%;
}
.sceneOverlay {
    margin-bottom: -420px;
    position: relative;
    z-index: 9;
}
    cursor: grab;

.fadeOut {
    -webkit-transition: opacity 150ms ease-in-out;
    -moz-transition: opacity 150ms ease-in-out;
    -ms-transition: opacity 150ms ease-in-out;
    -o-transition: opacity 150ms ease-in-out;
    opacity: 0;
}


@media screen and (max-width: 642px) {
    #featured .phoneContainer { height: 100vh; }
}


/* *********************** */
/* Canvas Elements         */
/* *********************** */

.replayBtn, .docs {
    font-size: .75rem;
    display: inline-block;
    padding: 0 .5em;
    margin-top: -2.5em;
    z-index: 1;
    position: relative;
    color: #fff;
    opacity: .5;
}
.docs { float: left; }
.replayBtn {
    float: right;
    cursor: pointer;
}
.replayBtn:hover { opacity: .75; }

/* JS will be used to set animation timing */
.security {
    background: transparent url(images/security.png) top left no-repeat;
    background-size: 100% auto;
    height: 64px;
    width: 228px;
    cursor: pointer;
    opacity: 0;
}
.security:hover {
    opacity: 1;
}
.security_animation {
    -webkit-animation: fadeIn75 350ms ease-out forwards;
    animation: fadeIn75 350ms ease-out forwards;
}

.cmLoading {
    background: url(images/cmLoading_glow_frames.png) left center no-repeat;
    background-size: auto 100%;
    cursor: pointer;
    -webkit-animation: cmLoading 1s ease-out forwards paused,
    cmLoading_glow_frames .5s infinite paused steps(5);
    animation: cmLoading 1s ease-out forwards paused,
    cmLoading_glow_frames .5s infinite paused steps(5);
    -webkit-animation-delay: 0s, 1s;
    animation-delay: 0s, 1s;
    z-index: 1;
    opacity: .85;
}

@keyframes fadeIn { 
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn75 { 
  from { opacity: 0; }
  to { opacity: .75; }
}

@keyframes cmLoading { 
  from {
      opacity: 0;
      height: 64px; width: 64px;
  }
  to {
      height: 200px; width: 200px;
  }
}

@keyframes cmLoading_glow_frames {
    100% { background-position: -1000px; }
}
.cmLoading_frames {
    background: url(images/cmLoading_sprite_intro.png) left center no-repeat;
    background-size: auto 100%;
    height: 192px; width: 192px;
    cursor: pointer;
    -webkit-animation: cmLoading_sprite 1s paused steps(24);
    animation: cmLoading_sprite 1s forwards paused steps(24);
    z-index: 1;
    opacity: .75;
}
.cmLoading:hover, .cmLoading_frames:hover {
    opacity: 1;
}
.cmLoading_frames_second {
    background: url(images/cmLoading_sprite.png) left center no-repeat;
    -webkit-animation: cmLoading_sprite 1s infinite steps(24);
    animation: cmLoading_sprite 1s infinite steps(24);
}



@keyframes cmLoading_sprite {
    100% { background-position: -4608px; }
}